<?xml version="1.0"?>
<launch>

  <arg name="world" default="empty.world"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- Launch Gazebo empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Vehicle 1 - first_vel01（领航车） -->
  <group ns="vehicle_1">
    <param name="tf_prefix" value="vehicle_1" />
    <param name="robot_description" textfile="$(find first_vel01)/urdf/first_vel01.urdf" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="tf_prefix" value="vehicle_1" />
    </node>
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model vehicle_1 -x 0.0 -y 0 -z 0.05 -param robot_description"/>
  </group>

  <!-- Vehicle 2 - mid_vel（中间车） -->
  <group ns="vehicle_2">
    <param name="tf_prefix" value="vehicle_2" />
    <param name="robot_description" textfile="$(find mid_vel)/urdf/mid_vel.urdf" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="tf_prefix" value="vehicle_2" />
    </node>
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model vehicle_2 -x -0.6 -y 0 -z 0.05 -param robot_description"/>
  </group>

  <!-- Vehicle 3 - first_vel01（尾车，与车1同模型，朝向相反180°） -->
  <group ns="vehicle_3">
    <param name="tf_prefix" value="vehicle_3" />
    <param name="robot_description" textfile="$(find first_vel01)/urdf/first_vel01_no_lidar.urdf" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="tf_prefix" value="vehicle_3" />
    </node>
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model vehicle_3 -x -1.2 -y 0 -z 0.05 -Y 3.14159 -param robot_description"/>
  </group>

</launch>
