<?xml version="1.0"?>
<launch>

  <arg name="world" default="empty.world"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="desired_distance" default="0.5" doc="期望保持的距离（米）"/>
  <arg name="enable_following" default="true" doc="是否启用跟随功能"/>
  
  <!-- 车辆初始位置 -->
  <arg name="vehicle_1_x" default="0.0"/>
  <arg name="vehicle_2_x" default="-0.6"/>
  <arg name="vehicle_3_x" default="-1.2"/>

  <!-- Gazebo 自定义插件路径 -->
  <env name="GAZEBO_PLUGIN_PATH"
       value="/home/xander/partime/tracked-vehicle-project-xander-dev/devel/lib:$(optenv GAZEBO_PLUGIN_PATH '')"/>

  <!-- Launch Gazebo empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Vehicle 1 - first_vel01（领航车，带相机和雷达） -->
  <group ns="vehicle_1">
    <param name="tf_prefix" value="vehicle_1" />
    <!-- Load robot description -->
    <param name="robot_description" textfile="$(find first_vel01)/urdf/first_vel01.urdf" />
    
    <!-- Robot state publisher with tf prefix -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="tf_prefix" value="vehicle_1" />
    </node>
    
    <!-- Spawn robot in Gazebo -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model vehicle_1 -x $(arg vehicle_1_x) -y 0 -z 0.05 -param /vehicle_1/robot_description"/>
  </group>

  <!-- Vehicle 2 - mid_vel（跟随车2） -->
  <group ns="vehicle_2">
    <param name="tf_prefix" value="vehicle_2" />
    <!-- Load robot description -->
    <param name="robot_description" textfile="$(find mid_vel)/urdf/mid_vel.urdf" />
    
    <!-- Robot state publisher with tf prefix -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="tf_prefix" value="vehicle_2" />
    </node>
    
    <!-- Spawn robot in Gazebo -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model vehicle_2 -x $(arg vehicle_2_x) -y 0 -z 0.05 -param /vehicle_2/robot_description"/>
  </group>

  <!-- Vehicle 3 - first_vel01（尾车，与车1同模型，朝向相反180°） -->
  <group ns="vehicle_3">
    <param name="tf_prefix" value="vehicle_3" />
    <!-- Load robot description (与vehicle_1同模型，但无雷达) -->
    <param name="robot_description" textfile="$(find first_vel01)/urdf/first_vel01_no_lidar.urdf" />
    
    <!-- Robot state publisher with tf prefix -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="tf_prefix" value="vehicle_3" />
    </node>
    
    <!-- Spawn robot in Gazebo（yaw=3.14159 旋转180°） -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model vehicle_3 -x $(arg vehicle_3_x) -y 0 -z 0.05 -Y 3.14159 -param /vehicle_3/robot_description"/>
  </group>
  <!-- 车辆跟随节点 -->
  <group if="$(arg enable_following)">
    <!-- Vehicle 2 跟随 Vehicle 1 -->
    <node pkg="vehicle_all" type="vehicle_follower.py" name="vehicle_2_follower" output="screen" respawn="true">
      <param name="follower_id" value="2"/>
      <param name="leader_id" value="1"/>
      <param name="desired_distance" value="$(arg desired_distance)"/>
    </node>
    
    <!-- Vehicle 3 跟随 Vehicle 2 -->
    <node pkg="vehicle_all" type="vehicle_follower.py" name="vehicle_3_follower" output="screen" respawn="true">
      <param name="follower_id" value="3"/>
      <param name="leader_id" value="2"/>
      <param name="desired_distance" value="$(arg desired_distance)"/>
    </node>
  </group>

</launch>
